$desktop-screen-width: 900px;
$tablet-screen-width: 500px;

@mixin desktop {
  @media screen and (min-width: #{$desktop-screen-width}) {
    @content
  }
};

@mixin tablet {
  @media screen and (min-width: #{$tablet-screen-width}) {
    @content
  }
};

@mixin inputDefault {
  background-color: transparent;

  width: 100%;

  font-weight: 700;
  text-align: end;

  border: 0;
  outline: none;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}